<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="projects.css">
    <title>Projects Page</title>
</head>

<body>
    <nav class="navbar">
        <div class="navelem">
            <div>
                <a href="../index.html">Home</a>
            </div>
            <div>
                <a href="#">Projects</a>
            </div>
            <div>
                <a href="../components/blogs.html">Blogs</a>
            </div>
            <div>
                <a href="#">Lab</a>
            </div>
            <div class="divider">
                <a href="#">More</a>
            </div>
            <div class="bgmode" id="mode">
            </div>
        </div>
    </nav>
    <main>
        <div class="gridcontainer">
            <div class="grid">
                <div class="griditems item1">
                    <a href="https://2048-game-23-10.vercel.app/">
                        <img src="../Images/projectimages/2048.jpg" alt="">
                        <h3>2048 Game</h3>
                        <h4>Javascript project</h4>
                    </a>
                </div>
                <div class="griditems item2">
                    <a href="https://aab007209.github.io/React-NameIt/">
                        <img src="../Images/projectimages/NameIt.png" alt="">
                        <h3>NameIt</h3>
                        <h4>React project</h4>
                    </a>
                </div>
                <div class="griditems item3">
                    <a href="https://github.com/AAB007209/React-FlashType">
                        <img src="../Images/projectimages/Flashtype.png" alt="">
                        <h3>FlashType</h3>
                        <h4>React project</h4>
                    </a>
                </div>
                <div class="griditems item4">
                    <a href="https://aab007209.github.io/Ping_Pong_Game/">
                        <img src="../Images/projectimages/Ping_Pong_Game.jpg" alt="">
                        <h3>Ping Pong Game</h3>
                        <h4>Javascript project</h4>
                    </a>
                </div>
                <div class="griditems item5">
                    <a href="https://github.com/AAB007209/React_Tic-Tac-Toe-App">
                        <img src="../Images/projectimages/Tic_Tac_Toe_Game.jpg" alt="">
                        <h3>Tic Tac Toe Game</h3>
                        <h4>React project</h4>
                    </a>
                </div>
                <div class="griditems item6">
                    <a href="https://aab007209.github.io/Bubble_Game/">
                        <img src="../Images/projectimages/Bubble_Game.jpg" alt="">
                        <h3>Bubble Game</h3>
                        <h4>Javascript project</h4>
                    </a>
                </div>
                <div class="griditems item5">
                    <a href="https://aab007209.github.io/Awwards_Project_1/">
                        <img src="../Images/projectimages/Awwards1.jpg" alt="">
                        <h3>Awwards Inspired Webpage</h3>
                        <h4>Javascript Project</h4>
                    </a>
                </div>
                <div class="griditems item5">
                    <a href="https://theskyfire-nike-website.netlify.app/">
                        <img src="../Images/projectimages/Nike_Website.jpg" alt="">
                        <h3>Nike Website</h3>
                        <h4>HTML & Tailwind CSS</h4>
                    </a>
                </div>
                <div class="griditems item6">
                    <a href="https://github.com/AAB007209/React_To-Do-App">
                        <img src="../Images/projectimages/To_Do_List.jpg" alt="">
                        <h3>To-Do List</h3>
                        <h4>React project</h4>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>